JSON Estructura Node Red.json
[
    {
        "id": "c707ce1a67b9b0a0",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b34ba8b5830cbd1c",
        "type": "mqtt in",
        "z": "c707ce1a67b9b0a0",
        "name": "Botón",
        "topic": "sensores/mq135",
        "qos": "2",
        "datatype": "auto",
        "broker": "cdd82fdd6b0111d1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 140,
        "wires": [
            [
                "76e7255c58318d65",
                "149029ea8e6bbd1f"
            ]
        ]
    },
    {
        "id": "954e81e3bfcb9514",
        "type": "mqtt in",
        "z": "c707ce1a67b9b0a0",
        "name": "Conexion",
        "topic": "sensores/mq135",
        "qos": "2",
        "datatype": "auto",
        "broker": "f82034d3dd820571",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 240,
        "wires": [
            [
                "71564143cc11ea0a"
            ]
        ]
    },
    {
        "id": "76e7255c58318d65",
        "type": "postgresql",
        "z": "c707ce1a67b9b0a0",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (1, 1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "7bd21482bb2be913",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "149029ea8e6bbd1f"
            ]
        ]
    },
    {
        "id": "71564143cc11ea0a",
        "type": "postgresql",
        "z": "c707ce1a67b9b0a0",
        "name": "",
        "query": "SELECT * FROM sensor_details WHERE sensor_id = 1;",
        "postgreSQLConfig": "7bd21482bb2be913",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "7a99d3cb9f731aab"
            ]
        ]
    },
    {
        "id": "149029ea8e6bbd1f",
        "type": "debug",
        "z": "c707ce1a67b9b0a0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "7a99d3cb9f731aab",
        "type": "ui_table",
        "z": "c707ce1a67b9b0a0",
        "group": "36280eb98a351282",
        "name": "",
        "order": 1,
        "width": "10",
        "height": "9",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "cdd82fdd6b0111d1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.138",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f82034d3dd820571",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.137.138",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7bd21482bb2be913",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "36280eb98a351282",
        "type": "ui_group",
        "name": "Bases de Datos",
        "tab": "a52f6fee66118381",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a52f6fee66118381",
        "type": "ui_tab",
        "name": "BaseDatos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]